$app-dark-primary: mat-palette($mat-purple);
$app-dark-accent: mat-palette($mat-pink);
$app-dark-warn: mat-palette($mat-red);

$app-dark-theme: mat-dark-theme($app-dark-primary, $app-dark-accent, $app-dark-warn);
