@import '~@angular/material/theming';

//default palette forground/background:
$light-foreground-palette: map-get($app-light-theme, foreground);
$light-background-palette: map-get($app-light-theme, background);

//dark palette forground/background:
$dark-foreground-palette: map-get($app-dark-theme, foreground);
$dark-background-palette: map-get($app-dark-theme, background);
